		<div id="headWrapper">
			<div id="logo">
				<img id="img-logo" src="../images/logo.png">
				
				
				<button id="login">login</button>
				<button id="register">Register</button>
				  <input id="search" type="search" name="googlesearch" placeholder="search">
				<nav id="list">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="blog/journal.html">Journal</a></li>
						<li><a href="/shop">Online Shop</a></li>
						<li><a href="/user/signup">User</a></li>
						<li>About us</li>
						<li>Product</li>
						<li>Contact</li>
					</ul>
				</nav>
			</div>
		</div>