<div class="accordian">
			<ul>
				<li>
					<a href="#">
						<img src="../images/img1.jpg"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/walk1.jpg"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/img2.jpg"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/img3.jpg"/>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../images/img4.jpg"/>
					</a>
				</li>
			</ul>
		</div>